*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: hsl(23, 51%, 91%);
    width: 100%;

}
.container{
    padding: 50px;
    background-color: hsl(13, 31%, 94%);
    display: flex;
    justify-content: space-between;
    position: relative;

}
.desserts{
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.general{
    /* background-color: hsl(7, 20%, 60%); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    gap: 50px;
}
.waffle{
    position: relative;
}
.img{
    width: 300px;
    border-radius: 10px;
}
.wafle.cart{
    width: 150px;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 265px;
    left: 85px;
    background-color: white;
    border-radius: 50px;
}
.waffle2{
    margin-top: 30px;
}
.waffle2 p:first-child{
    color: gray;
    font-size: small;
}
.waffle2 p{
    line-height: 23px;
}
.waffle2 p:nth-child(2){
    font-weight: 600;
}
.waffle2 p:nth-child(3){
    color: rgb(255, 77, 0);
}
.general2{
    background-color: hsl(20, 50%, 98%);
    width: 300px;
    height: 500px;
    /* border: 1px solid black; */
    padding: 10px;
    position: sticky;
    top: 20px;
    /* position: relative; */
    /* right: end; */
}
.addtoCart{
    background: transparent;
    border: none;
}
.quantityBox{
    display: none;
    justify-content: space-around;
}
.minus, .plus{
    /* display: none; */
    background: transparent;
    border: none;
    font-size: larger;
    cursor: pointer;
}
#confirm{
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    /* justify-content: center; */
    left: 100px;
    
    
}























h2{
    /* color: rgb(255, 77, 0); */
}
.hop{
    /* color: rgb(255, 77, 0); */
}
.first{
    /* display: flex;
    gap: 10px; */
}
.cart{
    /* margin: 20px; */
}
button{
    /* width: 200px; */
    /* height: 40px; */
    /* margin-left: 40px; */
    /* margin-top: 50px; */
    /* background-color: rgb(255, 77, 0); */
    /* color: white; */
    /* border-radius: 20px; */
}
.order{
    /* display: flex; */
    /* gap: 200px; */
    /* margin-top: 40px; */
}

